<%= form_for :time_table, url: time_tables_path do |f| %>
  <p>
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </p>
 
  <p>
    <%= f.label :to %><br>
    <%= f.text_field :to %>
  </p>

  <p>
  	<%= f.label :time %><br>
  	<%= f.time_select :time %>
  </p>

  <p>
    <%= f.label :transport %><br>
    <%= f.text_field :transport %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>