<h2>New Time-table</h2>

<%= form_for :time_table do |f| %>
  <p>
    <%= f.label :from %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :to %><br>
    <%= f.text_field :title %>
  </p>

  <p>
  	<%= f.label :time %><br>
  	<%= f.text_field :time %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= form_for :article, url: articles_path do |f| %>