<h3>Add start and end point</h3>

<%= form_tag(search_time_tables_path, method: "get") do %>
  <%= text_field_tag :search_from, params[:search_from] %>
  <%= text_field_tag :search_to, params[:search_to] %>
  <%= submit_tag "Search", :name => nil %> 
<% end %> 

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Time</th>
    <th>Transport</th>
  </tr>
 
<% @time_tables.each do |tt| %>
  <tr>
    <td><%= tt.from %></td>
    <td><%= tt.to %></td>
    <td><%= tt.time.strftime("%H:%M") %></td>
    <td><%= tt.transport %></td>
  </tr>
<% end %>
</table>
 
</br>