<p id="notice"><%= notice %></p>
 
<p>
  <b>From:</b>
  <%= @time_table.from %>
</p>
 
<p>
  <b>To:</b>
  <%= @time_table.to %>
</p>
 
<p>
  <b>Time:</b>
  <%= @time_table.time.strftime("%H:%M") %>
</p>

<p> 
  <b>Type of transport:</b>
  <%= @time_table.transport %>
</p>
 
 
<%= link_to 'Edit', edit_time_table_path(@time_table) %> |
<%= link_to 'Back', time_tables_path %>